﻿@using FilmsCatalog.ViewModels
@model IndexViewModel

@addTagHelper *, FilmsCatalog

<div class="row">
    <div class="col-12">
        <h1>Каталог фильмов</h1>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="mb-2">
                <a asp-action="Create" asp-controller="Films" class="btn btn-outline-primary btn-sm">Добавить</a>
            </div>
        }

        <page-link page-model="Model.PageViewModel" page-action="Index"></page-link>

        @if (Model.Films.Any())
        {
            <div class="row">
                @foreach (var film in Model.Films)
                {
                    <div class="col-xs-6 col-md-3">
                        <a asp-action="Details" asp-controller="Films" asp-route-id="@film.Id">
                            <img src="@film.FilePath" alt="@film.Name" title="@film.Name" width="200"  />
                            <h5>@film.Name</h5>
                        </a>
                        
                    </div>
                }
            </div>
        }
        else
        {
            <div class="alert alert-info">
                Каталог фильмов пуст
            </div>
        }
        <page-link page-model="Model.PageViewModel" page-action="Index"></page-link>
    </div>
</div>