﻿@using FilmsCatalog.ViewModels
@model CreateFilmViewModel

<form asp-action="Create" asp-controller="Films" method="Post" 
enctype="multipart/form-data"> 
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Description"></label>
        <textarea class="form-control" asp-for="Description"></textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Year"></label>
        <input type="number" min="1900" max="@DateTime.Now.AddYears(20).Year" class="form-control" asp-for="Year">
        <span class="text-danger" asp-validation-for="Year"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Director"></label>
        <input type="text" class="form-control" asp-for="Director">
        <span class="text-danger" asp-validation-for="Director"></span>
    </div> 
    <div class="mt-3">
        <label class="form-label" for="file">Постер</label>
        <input asp-for="File" type="file" id="file" class="form-control">
    </div>
    <div class="text-danger" asp-validation-summary="All"></div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
