﻿@model FilmsCatalog.ViewModels.DeleteFilmViewModel

<h1>Вы действительно хотите удалить фильм?</h1>
<h2>@Model.Name</h2>

<form asp-action="Delete" asp-controller="Films" method="POST">
    <input type="hidden" asp-for="Id"/>
    <button class="btn btn-outline-danger" type="submit">Удалить</button>
    <a class="btn btn-outline-secondary" role="button" asp-action="Main">Отмена</a>
</form>
