﻿@using FilmsCatalog.ViewModels
@model FilmViewModel

<h1>@Model.Name</h1>

<div class="row">
    <div class="col-8">
        
        <div class="list-group">
            <div class="list-group-item">
                @Model.Description
            </div>
            <div class="list-group-item">
                Год выпуска - @Model.Year
            </div>
            <div class="list-group-item">
                Режиссёр - @Model.Director
            </div>
            <p><b>Опубликовал:</b> @Model.User.FirstName @Model.User.LastName</p>
        </div>
        
        <div class="mt-3">
            <a asp-action="Index" asp-controller="Home" class="btn btn-outline-primary">Назад</a>
            @if (User.Identity.Name == @Model.User.UserName)
            {
                <a class="btn btn-outline-warning" asp-action="Edit" asp-controller="Films" asp-route-id="@Model.Id">Редактировать</a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-controller="Films" asp-route-id="@Model.Id">Удалить</a>
            }
        </div>
    </div>
    <div class="col-4">
        @if (!string.IsNullOrWhiteSpace(Model.FilePath))
        {
            <img src="@Model.FilePath" alt="@Model.Name" width="400"/>
        }
        else
        {
            <div class="alert alert-info">Постер не был загружен</div>
        }
    </div>
</div>
